.navbar-brand > img {
  width: 3rem;
  height: 2rem;
}

#logoEscrito {
  font-family: 'Bungee';
  color: #343a40;
}

#navbarNav > ul > li:nth-child(5) {
  position: absolute;
  right: 0px;
}

@media screen and (max-width: 600px) {
  #navbarNav > ul > li:nth-child(5) {
    position: relative;
    right: auto;
  }
}
