<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" 
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav container" id="itens">
        <li class="nav-item active">
            <a routerLink="/home" href="/home" class="nav-link">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a routerLink="/rank" href="/rank" class="nav-link">Rank</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#"><i class="fas fa-glasses icone-nav"></i></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Contato</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Sobre nós</a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a routerLink="/login" href="/login" class="nav-link">Login</a>
            <!-- <i class="fas fa-user"></i> -->
        </li>
    </ul>
    </div>
</nav>