<app-navbar></app-navbar>
<div class="container"> 
<form class="row">
    <div class="col-4">
    <div class="form-group">
        <label for="exampleFormControlInput1">Como voce avalia a estrutura?</label>
        <app-estrelas></app-estrelas>
    </div> 
    <div class="form-group">
        <label for="exampleFormControlInput1">Como voce avalia os professores?</label>
        <app-estrelas></app-estrelas>
    </div>      
    <div class="form-group">
        <label for="exampleFormControlInput1">Como voce avalia o financeiro?</label>
        <app-estrelas></app-estrelas>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Como voce avalia o atendimento?</label>
        <app-estrelas></app-estrelas>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Como voce avalia a coordenacao?</label>
        <app-estrelas></app-estrelas>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Como voce avalia o ambiente virtual?</label>
        <app-estrelas></app-estrelas>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Deixe um comentario</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Enviar</button>
</div>
</form>
</div>