<!-- <div class="container background-image">
    <div class="row">
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>
</div> -->
<app-navbar></app-navbar>
        
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Entre com sua conta</h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Seu e-mail *" value="" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Senha *" value="" />
            </div>
            <div class="form-group">
                <input type="submit" class="btnSubmit" value="Login" />
            </div>
            <div class="form-group">
                <button class="btnSubmitGoogle">
                    Entrar com google
                    <i class="fa fa-google"></i>
                </button>
            </div>
            <div class="form-group">
                <a href="#" class="btnForgetPwd">Esqueceu a senha?</a>
            </div>
        </div>
        <div class="col-md-6 login-form-2">
            <div class="login-logo">
                <i class="fas fa-glasses icone-meio"></i>
            </div>
            <h3>Faça sua conta</h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Seu e-mail *" value="" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Confirmação de e-mail *" value="" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Senha *" value="" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirmação de senha *" value="" />
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Cpf" value="" />
            </div>
            <div class="form-group">
                <input type="submit" class="btnSubmit" value="Cadastrar" />
            </div>
            <!-- <div class="form-group">
                <a href="#" class="btnForgetPwd" value="Login">Forget Password?</a>
            </div> -->
        </div>
    </div>
</div>