<div class="background">
<app-navbar></app-navbar>
    <div class="d-flex flex-row-reverse bd-highlight">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title">Entrar / Login</h5>
      <h6 class="card-text">Você precisa logar em sua conta para fazer uma avaliação:</h6>
      <br>
      <br>
      <form #dadoslogin="ngForm" class="needs-validation" novalidate>
        <div class="form-group">
          <label for="emailLogin"><b>E-mail:</b></label>
          <input type="email" class="form-control" id="emailLogin" placeholder="meuemail@gmail.com" maxlength="50"
          name="emailLogin" [(ngModel)]="usuario.email" required>
          <div class="invalid-feedback">
            Você precisa do seu e-mail para fazer login!
          </div>
          <div class="valid-feedback">
            Tudo certo!
          </div>
        </div>
        <div class="form-group">
          <label for="passwordLogin"><b>Senha:</b></label>
          <input type="password" class="form-control" id="passwordLogin" placeholder="" maxlength="50"
          name="passwordLogin" [(ngModel)]="usuario.senha" required>
          <div class="invalid-feedback">
            Sua senha está incorreta ou vazia!
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Entrar" (click)="submitLogin()" />
        </div>
        <hr class="my-4">
        <h6 id="ou" class="card-text"><b>Ou você pode entrar com:</b>:</h6>
        <br>
        <br>
        <button class="btn btn-lg btn-google btn-block" type="submit"><i class="fab fa-google mr-2"></i> Entrar
          com Google</button>
        <button class="btn btn-lg btn-facebook btn-block" type="submit"><i class="fab fa-facebook-f mr-2"></i>
          Entrar com Facebook</button>
      </form>
    </div>
  </div>
</div>
</div>
