<!-- <div class="container background-image">
    <div class="row">
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>
</div> -->
<app-navbar></app-navbar>

<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>Entre com sua conta</h3>
      <!--INICIO FORMULARIO LOGIN-->
      <form #dadosLogin="ngForm">
        <div class="form-group">
          <label for="emailLogin"></label>
          <input type="email" class="form-control" placeholder="Seu e-mail" id="emailLogin" maxlength="50"
            name="emailLogin" [(ngModel)]="usuario.email" />
        </div>
        <div class="form-group">
          <label for="passwordLogin"></label>
          <input type="password" class="form-control" placeholder="Senha" id="passwordLogin" maxlength="50"
            name="passwordLogin" [(ngModel)]="usuario.senha" />
        </div>
        <div class="form-group">
          <input type="submit" class="btnSubmit" value="Entrar" (click)="submitLogin()" />
        </div>
        <div class="form-group">
          <button class="btnSubmitGoogle">
            Entrar com google
            <i class="fa fa-google"></i>
          </button>
        </div>
      </form>
      <!--FIM FORMULARIO LOGIN-->
      <div class="form-group">
        <a href="#" class="btnForgetPwd">Esqueceu a senha?</a>
      </div>
    </div>
    <div class="col-md-6 login-form-2">
      <div class="login-logo">
        <i class="fas fa-glasses icone-meio"></i>
      </div>
      <h3>Faça sua conta</h3>



      <!--INICIO FORMULARIO CADASTRO-->
      <form #dadosCadastro="ngForm">
        <div class="form-group">
          <label for="emailCadastro"></label>
          <input type="email" class="form-control" id="emailCadastro" maxlength="32" placeholder="meuemail@gmail.com"
            name="emailCadastro" [(ngModel)]="usuario.email" />
        </div>
        <div class="form-group">
          <label for="passwordCadastro"></label>
          <input type="password" class="form-control" placeholder="Senha *" id="passwordCadastro" maxlength="50"
            name="passwordCadastro" [(ngModel)]="usuario.senha" />
        </div>
        <div class="form-group">
          <label for="passwordCadastroConfi"></label>
          <input type="password" class="form-control" placeholder="Confirmação de senha *" id="passwordCadastroConfi"
            maxlength="50" name="passwordCadastroConfi" [(ngModel)]="usuario.confirmacaoSenha" />
        </div>
        <div class="form-group">
          <label for="cpf"></label>
          <input type="text" class="form-control" maxlength="11" placeholder="Cpf" id="cpf" name="cpf" [(ngModel)]="usuario.cpf" />
        </div>
        <div class="form-group">
          <input type="submit" class="btnSubmit" value="Cadastrar" (click)="submitCadastro()" />
        </div>
      </form>
      <!--FINAL FORMULARIO CADASTRO-->
      <!-- <div class="form-group">
                <a href="#" class="btnForgetPwd" value="Login">Forget Password?</a>
            </div> -->
    </div>
  </div>
</div>
