<app-navbar></app-navbar>

<div class="container">
    <app-filtro-rank></app-filtro-rank>
    <div class="row">
        <div class="col d-none d-md-block">
            <table class="table">
                <thead>
                    <tr>
                        <th id="rank" (click)="ordernarRankStart()" scope="col">Rank</th>
                        <th id="media" (click)="ordernarMediaStart()" scope="col">Avaliação geral média</th>
                        <th id="nome" (click)="ordernarNomeStart()" scope="col">Nome</th>
                        <th id="professores" (click)="ordernarProfesssorStart()" scope="col">Professores</th>
                        <th id="infraestrutura" (click)="ordernarInfraestruturaStart()" scope="col">Infraestrutura</th>
                        <th id="cordenacao" (click)="ordernarCordenacaoStart()" scope="col">Cordenação</th>
                    </tr>
                </thead>
                <tbody *ngFor="let instituicao of instiuicoes">
                    <tr class="hover-link" (click)="detalheInstituicao(instituicao.id)">
                        <td scope="row d-none d-md-block" class="noBorderBottom">8</td>
                        <td><span class="badge badge-pill badge-danger">Ruim</span></td>
                        <td>{{ instituicao.nome }}</td>
                        <td>4</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col d-block d-md-none">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Avaliação média</th>
                        <th scope="col">Nome</th>
                    </tr>
                    <tr routerLink="/detalhe-faculdade" routerLinkActive="active" class="hover-link">
                        <td><label>2</label><span class="badge badge-pill badge-danger">Ruim</span></td>
                        <td>Centro Universitário Una</td>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
    <!-- <div class="row">
        <div class="col-6">
            <div class="row">
                <div>
                    Filtro aqui
                </div>
            </div>
            <div class="list-group">
                <a class="list-group-item list-group-item-action active">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Centro universitário UNA - Barreiro</h5>
                    <app-estrelas></app-estrelas>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  <small>Donec id elit non mi porta.</small>
                </a>
                <a class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Universidade PUC Minas - Barreiro</h5>
                    <app-estrelas></app-estrelas>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
                <a class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <app-estrelas></app-estrelas>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
            </div>
        </div>
        <div class="col-6">
            <div class="list-group">
                <a class="list-group-item list-group-item-action active">
                    <div >
                        <img class="instituicao-picture" src="../../../assets/img/logo-una.png">
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Centro universitário UNA - Barreiro</h5>
                        <app-estrelas></app-estrelas>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                </a>
                <a class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Universidade PUC Minas - Barreiro</h5>
                        <app-estrelas></app-estrelas>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
                <a class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <app-estrelas></app-estrelas>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
            </div>
        </div>
    </div> -->
</div>
