small {
  color: #fff;
}

input {
  width: 60%;
}

/* #sticky-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

#search-input {
    margin-right: 0px;
} */

/* .align-middle {
    top: 40%;
    width: 100%;
}

.label-center {
    display: block;
    text-align: center;
}

.margin-input {
    width: 100%;
} */

:root {
  --width: #inputInstituicao.width;
}

body, html {
  height: 100%;
}

.bg {
  background-image: url('../../../assets/img/background.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.list-group {
  width: var(--width);
}

.align-center {
  text-align: center;
}

.pb-4, .py-4 {
  padding-bottom: 1rem!important;
}

.pt-4, .py-4 {
  padding-top: 1rem!important;
}

.display-inline {
  display: inline-flex;
}

.col-10 {
  padding-left: 0px;
  padding-right: 0px;
}

.col-2 {
  padding-left: 0px;
  padding-right: 0px;
}

.list-group-item.list-group-item-action {
  background-color: white;
  border-color: #007BFF;
  border-width: 3px;
  border-top: 0rem;
  width: 60%;
  border-bottom-width: 1px;
  left: -1.3rem;
}


.list-group-item:hover {
  background-color: #007BFF;
  color: white;
}

.list-group-item.list-group-item-action:last-of-type {
  border-bottom-width: 3px;
}

#espaco {
  padding-top: 10rem;
}

#titulo {
  font-family: 'Bungee';
  color: rgb(14, 89, 175);
}
