small{
    color: #fff;
}

input{
    width: 60%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
    bottom: 0;
    position: absolute;
    width: 100%;
}

#search-input {
    margin-right: 0px;
}

.align-middle {
    position: absolute;
    top: 40%;
    width: 100%;
}

.label-center {
    display: block;
    text-align: center;
}

.margin-input {
    /* margin: auto; */
    /* width: 60%; */
    width: 100%;
}

.background-image{
    background-image: url('../../../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.pb-4, .py-4{
    padding-bottom: 1rem!important;
}

.pt-4, .py-4{
    padding-top: 1rem!important;
}

.display-inline {
    display: inline-flex;
}

.col-10 {
    padding-left: 0px;
    padding-right: 0px;
}

.col-2 {
    padding-left: 0px;
    padding-right: 0px;
}




