small{
    color: #fff;
}

input{
    width: 60%;
}

/* #sticky-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

#search-input {
    margin-right: 0px;
} */

/* .align-middle {
    top: 40%;
    width: 100%;
}

.label-center {
    display: block;
    text-align: center;
}

.margin-input {
    width: 100%;
} */
:root {
    --width: #inputInstituicao.width;
}

.background-image{
    background-image: url('../../../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.list-group{
    width: var(--width);
}

.align-center{
    text-align: center;
}

.pb-4, .py-4{
    padding-bottom: 1rem!important;
}

.pt-4, .py-4{
    padding-top: 1rem!important;
}

.display-inline {
    display: inline-flex;
}

.col-10 {
    padding-left: 0px;
    padding-right: 0px;
}

.col-2 {
    padding-left: 0px;
    padding-right: 0px;
}




