<app-navbar></app-navbar>

<!-- <div class="background-image">
    teste
</div> -->
<div class="container"> 
<div class="branco">
  <div class="row mt-3">
      <div class="col-md-3 d-none d-md-block">
          <h2><img class="image" src="../../../assets/img/UnaBarreiro.jpg" alt=""></h2>
      </div>
      <div class="col-md-7 col-12">
        <h2 class="">{{instituicao.nome}} - Campus {{instituicao.campus}}</h2>
        <h5 class="flex mt-1">Avaliação Geral: <app-estrelas class="estrelas ml-2"></app-estrelas> 4.5 </h5>
    </div>
    <div class="col-md-2 text-right col-4">
        <button class="btn btn-primary" (click)="avaliarInstituicao(instituicao.id)">Avaliar</button>
    </div>
  </div> 
</div>

<div class="mt-4 d-none d-md-block">
  <div class="row">
      
    <div class="col-3 display-3 separador-direita my-2 text-center">
      <i class="fas fa-graduation-cap"></i>
    </div>

    <div class="col-4 pl-1">
      <pre class="flex"><app-estrelas class="ml-3"></app-estrelas>  Estrutura</pre>
      <pre class="flex"><app-estrelas class="ml-3"></app-estrelas>  Professores</pre>
      <pre class="flex"><app-estrelas class="ml-3"></app-estrelas>  Financeiro</pre>
    </div>

    <div class="col-5 pl-1">
      <pre class="flex"><app-estrelas class="ml-3"></app-estrelas>  Atendimento</pre>
      <pre class="flex"><app-estrelas class="ml-3"></app-estrelas>  Coordenação</pre>
      <pre class="flex"><app-estrelas class="ml-3"></app-estrelas>  Ambiente virtual</pre>
    </div>
  </div>
  </div>

  <div class="mt-4">
    <div class="row">
      <div class="col-md-3 text-center d-none d-md-block">
        
      </div>
      <div class="col-md-8 col-12 mt-2">
        <h2 class="text-right">Avaliações dos alunos</h2>
      </div>
      <div class="col-md-1 d-none d-md-block">
        <i class="fa fa-comment display-4"></i>
      </div>
    </div>
    
      <div class="row mt-2">
          <div class="col-12">
              <div class="card">

                  <div class="row card-header m-1 p-1">
                    <div class="col-md-1 d-none d-md-block">
                      <i class="fa fa-user-circle display-4"></i>
                    </div>
                    <div class="col-md-8 col-12">
                        <h3> Maria Josefina</h3>
                        <pre><i class="fas fa-user-graduate"></i> Estudante de Sistemas de Informação</pre>
                    </div>
                    <div class="col-md-3 col-12">
                      <pre class="flex text-right d-none d-md-block"><app-estrelas class="ml-3"></app-estrelas>  Geral</pre>
                  </div>
                  </div>

                  <div class="card-body">
                    <h5 class="card-title">Melhoria para atendimento aos estudantes </h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
          </div>
        </div>
      </div>
</div>
