.image{
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 120px;
}

.flex{
    display: flex;
}

.branco{
    background-color: #FFFFFF;
}

div p{
    color: #FFFFFF;
    margin-top: -0.25rem;
    margin-bottom: 0.6rem;
}