<app-navbar></app-navbar>

<!-- <div class="background-image">
    teste
</div> -->
<div class="branco">
  <div class="container">
      <div class="row">
          <div class="col-3">
              <h2><img class="image" src="../../../assets/img/UnaBarreiro.jpg" alt=""></h2>
          </div>
          <div class="col-7">
            <h2 class="">Una - Campus Barreiro</h2>
            <h5 class="flex mt-1">Avaliação Geral: <app-estrelas class="estrelas ml-2"></app-estrelas>  </h5>
        </div>
        <div class="col-2 text-right">
            <button class="btn btn-primary">Avaliar</button>
        </div>
      </div> 
  </div>
</div>

<br>
<div class="bg-primary text-color text-light">
  <div class="container">
      <div class="row">
          
        <div class="col-3 display-2 mt-5 mb-5 text-center">
          <i class="fas fa-graduation-cap"></i>
        </div>

        <div class="col-2 mt-4 mb-4 text-right">
          <p class="flex">Estrutura:</p>
          <p class="flex">Professores:</p>
          <p class="flex">Financeiro:</p>
          <p class="flex">Atendimento:</p>
          <p class="flex">Coordenação:</p>
          <p class="flex">Ambiente virtual:</p>
        </div>

        <div class="col-7 mt-4 mb-4 text-right">
          <p class="flex"><app-estrelas-brancas class="ml-3"></app-estrelas-brancas></p>
          <p class="flex"><app-estrelas-brancas class="ml-3"></app-estrelas-brancas></p>
          <p class="flex"><app-estrelas-brancas class="ml-3"></app-estrelas-brancas></p>
          <p class="flex"><app-estrelas-brancas class="ml-3"></app-estrelas-brancas></p>
          <p class="flex"><app-estrelas-brancas class="ml-3"></app-estrelas-brancas></p>
          <p class="flex"><app-estrelas-brancas class="ml-3"></app-estrelas-brancas></p>
        </div>
          
      </div>
    </div>
  </div>



      <div class="row">
          <h2>Avaliações dos alunos</h2>
          <div class="col">
              <div class="card">
                  <div class="card-header">
                    Featured
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
          </div>
      </div>
      <div class="row">
          <h2>Avaliações dos alunos</h2>
          <div class="col">
              <app-filtro-avaliacoes></app-filtro-avaliacoes>
          </div>
          <div class="col">
              <!-- Avaliações gerais -->
              <div class="card">
                  <div class="card-header">
                    Featured
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
          </div>
      </div>
  
