<div class="backgroundsobre">
    <app-navbar></app-navbar>
    <div class="container">     
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><b>Sobre nós</b></h5>
                <i class="fas fa-glasses"></i>
                <div class="espaco"></div>
                <p class="card-text">O GLASSES surgiu por meio de um projeto de PI com cinco pessoas de um curso de Sistemas de Informação, a ideia veio depois de dois semestres frutantes onde tínhamos vários problemas com a instituição e nada mudava com o tempo. Então nos criamos o GLASSES um site onde você pode avaliar sua instituição tentando chamar atenção dela e tentar impedir de algumas pessoas entrarem na mesma furada que você.</p>
                <h5 class="card-title">Com o <b>GLASSES</b> você tem:</h5>
                <div class="card text-white bg-success mb-3" style="max-width: 80rem;">
                    <div class="card-body" style="padding: 10pt;">
                      <span class="titulocartao"><b>De alunos para alunos</b></span>
                      <p class="card-text">O <b>GLASSES</b> foi feito por alunos para alunos, ou seja, não temos nenhum vínculo com instituições, tornando nossas estatísticas puras e sem nenhum "dedo" das instituições. Nada forjado aqui!</p>
                    </div>
                </div>
                <div class="card text-white bg-danger mb-3" style="max-width: 80rem;">
                    <div class="card-body" style="padding: 10pt;">
                      <span class="titulocartao"><b>Controle de falsificação</b></span>
                      <p class="card-text">O <b>GLASSES</b> permite mais de duas avaliações somente com comprovação com documentos, assim tentamos amenizar avaliações fraudulentas.</p>
                    </div>
                </div>
                <p class="card-text"></p>
            </div>
        </div>
        <br>
        <br>
    </div>
    <footer id="sticky-footer" class="py-4 bg-primary text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Glasses</small>
        </div>
    </footer>
</div>