<div class="bg1">
  <div class="bg2">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <h1 class="card-title"><b>Sobre nós</b></h1>
                <img src="https://i.imgur.com/tnYh8KD.png" alt="">
                <div class="espaco"></div>
                <p class="card-text">O GLASSES surgiu por meio de um projeto de PI com cinco pessoas de um curso de Sistemas de Informação, a ideia veio depois de dois semestres com pessoas nos perguntando sobre a instituição e não tínhamos como passar um feedback completo para elas. Então criamos o Glasses para as pessoas poderem avaliar e ver as avaliações das instituições de ensinos superior.</p>
                <h1 class="card-title">Com o <b>GLASSES</b> você tem:</h1>
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="card text-white bg-success mb-3" style="width: auto;">
                        <div class="shadow card-body">
                          <h5 class="card-title">De alunos para alunos</h5>
                          <p class="card-text">O <b>GLASSES</b> foi feito por alunos para alunos, ou seja, não temos nenhum vínculo com instituições, tornando nossas estatísticas puras e sem nenhum "dedo" das instituições. Nada forjado aqui!</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card text-white bg-danger mb-3" style="width: auto;">
                        <div class="shadow card-body">
                          <h5 class="card-title">Controle de falsificação</h5>
                          <p class="card-text">O <b>GLASSES</b> permite apenas uma avaliação por pessoa mediante comprovação dos documentos enviados no cadastro, assim tentamos amenizar avaliações fraudulentas.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
</div>
