<div class="bg1">
  <div class="bg2">
    <app-navbar></app-navbar>
    <div class="container">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title"><b>Perguntas frequentes / FAQ</b></h5>
          <p class="card-text">Você tem alguma dúvida sobre como nosso sistema funciona? Confira nossa <b>FAQ</b> e veja se algo pode te ajudar!</p>

          <img class="imagemContato" src="https://image.freepik.com/vetores-gratis/empresarios-dos-desenhos-animados-estao-curiosos-sobre-com-muitos-pontos-de-interrogacao-na-cabeca_68708-593.jpg" alt="">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <b>Preciso de uma conta registrada no site para ver avaliações das instituições?</b>
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <b>Não, você só precisa de uma conta caso queira fazer uma avaliação!</b>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <b>Posso fazer mais de uma avaliação?</b>
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <b>Pode, porem por enquanto a sua ultima avaliação não sera mais contada.</b>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <b>Vocês vão compartilhar meus dados com alguém?</b>
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <b>Não!!! Os seus dados ficam criptografados, nem nossa equipe sabe deles!</b>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <p class="card-text">Ficou alguma duvida? Entre em contato conosco por meio da nossa página <a href="/contato"><b>contato</b></a> e resolva.</p>
        </div>
      </div>
    </div>
  </div>
</div>
