.bg1 {
  background-image: linear-gradient(to bottom, #d300ff, #d172ff, #d6a8ff, #e6d5ff, #ffffff);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg2 {
  background-image: url(../../../assets/img/home/teste4.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imagemContato {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container {
  margin-top: 35px;
}

.card {
  border-radius: 10px;
}
